<h1> I don't really want to show this,  I just want that button to make it go back to the restaurant page</h1>

<p>So I want to make it go straight to the create action - but then that isn't working</p>

 <p>Back to <%= link_to "home", root_path %></p>

