<div class = "row">
    <div class = "col-md-1">
  </div>
  <div class = "col-md-6">

    <h1>All Restaurants</h1>
  </div>
  <div class = " col-md-4">

    <h3>Not listed? <%= link_to 'New Restaurant', new_restaurant_path, :class => 'btn btn-success' %></h3>
  </div>
</div>


<div class = "row">
    <div class = "col-md-1">
  </div>
  <div class = "col-md-8">
  	<div class = "restaurant_list">
  		<ul>
	    <% @restaurants.sort.each do |restaurant| %>
	      <li><strong><%= link_to restaurant.name, restaurant_path(restaurant) %></strong>  <%= restaurant.city %></li>

	      <hr>
	    <% end %>
	  	</ul>
	  </div>
  </div>


</div>


