

#logo {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 56px;
    line-height: 80px;

}

#logo_small {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 31px;
    line-height: 44px;

}


#logo_small a {
	color: black;
}


#logo a {
  color: black;
}


.nav a {

  color: black;
}
 
p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
}


h1 {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 50xpx;
}

h2 {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 21px;
    line-height: 35px;
}

h3 {
 font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;

}


 
.restaurant_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 

 
.restaurant_list li a {
  text-decoration: none;
  color: #000;

  width: 200px;
 
}
 
.restaurant_list li a:hover {
 color: #005580;
    text-decoration: underline;
}



html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
}


.flash {
  color:red;
}


.jumbotron {
  height: 400px;
  background: url(ravioli.jpg);
  background-size: 1440px 800px;
  background-repeat: no-repeat;

}
