<hr>

<div id ="footer" >
	<div class="container">	
	  <p class = "text-muted">Built and Barely Designed by Tracy Mu Sung</p>
	  <p class = "text-muted">If the details of any restaurant have changed, please submit a <a href="mailto:admin@moomumedia.com?Subject=Restaurant%20Update">change request</a></p>   
	 </div>
</div> 